/** HUBL VARIABLES -
 ** Customize Reely Here **/

/** Font Controls **/

/** Font Variables **/
{% set font_family_1 = "'Poppins', sans-serif" %}

/** REELY SANITIZER -
 ** cleans all elements within reely container, to avoid css interference -
 ** Derived from HTML Doctor CSS Reset (https://cssreset.com) **/
html {
  scroll-behavior: smooth;
}


.ry {
    top:0;
}

:target:before {
content:"";
display:block;
height:150px; /* fixed header height*/
margin:-150px 0 0; /* negative fixed header height */
}

 
footer.ry,
.ry footer,
header.ry,
.ry header,
section.ry,
.ry section,
.ry div,
.ry span,
.ry object,
.ry iframe,
.ry h1,
.ry h2,
.ry h3,
.ry h4,
.ry h5,
.ry h6,
.ry p,
.ry blockquote,
.ry pre,
.ry abbr,
.ry address,
.ry cite,
.ry code,
.ry del,
.ry dfn,
.ry em,
.ry img,
.ry ins,
.ry kbd,
.ry q,
.ry samp,
.ry small,
.ry strong,
.ry sub,
.ry sup,
.ry var,
.ry b,
.ry i,
.ry dl,
.ry dt,
.ry dd,
.ry ol,
.ry ul,
.ry li,
.ry fieldset,
.ry form,
.ry label,
.ry legend,
.ry table,
.ry caption,
.ry tbody,
.ry tfoot,
.ry thead,
.ry tr,
.ry th,
.ry td,
.ry article,
.ry aside,
.ry canvas,
.ry details,
.ry figcaption,
.ry figure,
.ry hgroup,
.ry menu,
.ry nav,
.ry summary,
.ry time,
.ry mark,
.ry audio,
.ry video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

footer.ry,
.ry footer,
header.ry,
.ry header,
section.ry,
.ry section,
.ry article,
.ry aside,
.ry details,
.ry figcaption,
.ry figure,
.ry hgroup,
.ry menu,
.ry nav,
.ry div {
  display: block;
  box-sizing: border-box;
}

.ry nav ul {
  list-style: none;
}

.ry blockquote,
.ry q {
  quotes: none;
}

.ry blockquote:before,
.ry blockquote:after,
.ry q:before,
.ry q:after {
  content: "";
  content: none;
}

.ry a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.ry ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

.ry mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

.ry del {
  text-decoration: line-through;
}

.ry abbr[title],
.ry dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

.ry table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ry hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

.ry input,
.ry select {
  vertical-align: middle;
}

/** REELY TEMPLATES - 
 ** CSS applied directly to Reely templates **/

body,
html {
  margin: 0;
  padding: 0;
}

/** REELY CORE - 
 ** reely structures and styles **/

/** reely module wrapper **/

.ry {
  font-size: 10px;
  position: relative;
  z-index: 1;
}

/** reely page center controls **/

.ry .ry-center {
  width: 100% !important;
  float: none !important;
  margin: 0 auto;
  margin-left: auto !important;
  padding: 0 15px;
}

.ry-center.xl {
  max-width: 1240px;
}

.ry-center.lg {
  max-width: 1200px;
}

.ry-center.md {
  max-width: 1038px;
}

.ry-center.sm {
  max-width: 925px;
}

.ry-center.xs {
  max-width: 585px;
}


/** Links and Buttons **/

.ry a {
  text-decoration: none;
}

.ry a.cta-btn {
  display: inline-block;
  padding: 22px 55px !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 0.86;
  letter-spacing: 2.3px;
  border:none;
  text-transform:uppercase;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* Megalytics */

/* organge */
.ry a.cta-btn_1 {
 background-color: #96234f;
  color: #fff;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

/* blue */
.ry a.cta-btn_2 {
  display:block;
  background: #2971A3;
  color: #fff;
  padding: 22px 0 !important;
  width: 100%;
  max-width: 200px;
}

/* iSpionage */

/* orange */
.ry a.cta-btn_3 {
 background-color: #F79326;
  color: #fff;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

/* green */
.ry a.cta-btn_4 {
 background-color: #7FC34E;
  color: #fff;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

.connector-cta {
  font-family: 'Poppins', sans-serif; 
    display: inline-block;
 background-color: #96234f;
    padding: 22px 55px !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 0.86;
    letter-spacing: 2.3px;
  border:none;
  text-transform:uppercase;
    text-align: center;
    color: #ffffff;
    
    margin-top: -8px;
  
}

a.gds-anchor{
  font-family: 'Poppins', sans-serif; 
    display: inline-block;
 background-color: #96234f !important;
    padding: 22px 55px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 0.86;
    letter-spacing: 2.3px;
  border:none;
  text-transform:uppercase;
    text-align: center;
    color: #ffffff;
    
    margin-top: -8px;
}

a.gds-anchor:hover{
  background-color: #a52656 !important;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.ry a.cta-btn_1:hover {
  background-color: rgb(165,38,86);
  -webkit-transition: .2s ease all;
  transition: .2s ease all;

}

@supports (-webkit-text-stroke:0) {
  .ry a.cta-btn_1 {
    -webkit-text-stroke: 0;
    -webkit-text-fill-color: #fff;
  }
}


/** Nav - Navigation Controls **/

.ry nav ul.flexy li,
.ry nav ul.flexy li a {
  display: block;
}

/* inline */
/*.ry nav.inline ul.flexy li {
  margin-left: 8px;
  margin-right: 8px;
}*/

.ry nav.inline ul.flexy li:first-of-type {
  margin-left: 0;
}

.ry nav.inline ul.flexy li:last-of-type {
  margin-right: 0;
}

.ry nav.inline ul.flexy li a {
  padding: 12px 18px;
}


/** Flexy - Flexbox Controls **/

.ry .flexy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/** Box Controls **/

.ry .fl-box {
  margin-left: 5px;
  margin-right: 5px;
}

.ry .fl-box:first {
  margin-left: 0;
}

.ry .fl-box:last {
  margin-right: 0;
}

/* Flexbox: Layout Controls */
.ry .fl-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ry .fl-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}





/* Mobile Row to Column */
@media (max-width: 768px) {
  .ry .fl-mob_col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .lb-dec img {
    width: 80%;
        margin:30px auto 0 !important;

  }
  
    

.lb-grid .lb-cnt {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom:30px !important;
}  
  
  .lb-cnt img{
  width:65% !Important;
}
  
}

@media (max-width: 550px) {
  .ry .fl-mob_col-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
    .lb-dec img {
    width: 100%;
          margin:30px auto 0 !important;
  }
  
  .ry .m-b_9 {
  margin-bottom:0;
}
  

}



/* Flexbox: flex-wrap */
.ry .fl-wrap_wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ry .fl-wrap_wrap-r {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

/* Flexbox: Align-Items (horizontal) Controls */
.ry .fl-hz_left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.ry .fl-hz_center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ry .fl-hz_right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.ry .fl-hz_between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ry .fl-hz_around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* Flexbox: Justify-Content (vertical) Controls */
.ry .fl-vt_top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
}

.ry .fl-vt_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.ry .fl-vt_bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

.ry .fl-vt_stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
}

/* Flexbox: Align-Self (flexed item) Controls */
.ry .fl-item_bottom {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.ry .fl-item_left {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.ry .fl-item_right {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.ry .fl-item_center {
  -ms-flex-item-align: center;
  align-self: center;
}

/* Flexbox item Spacing 1-10 */
.ry .fl-01 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.ry .fl-02 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.ry .fl-03 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.ry .fl-04 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.ry .fl-05 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.ry .fl-06 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

.ry .fl-07 {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
}

.ry .fl-08 {
  -webkit-box-flex: 8;
  -ms-flex: 8;
  flex: 8;
}

.ry .fl-09 {
  -webkit-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
}

.ry .fl-10 {
  -webkit-box-flex: 10;
  -ms-flex: 10;
  flex: 10;
}


.ry .fl-vt_center img{
 max-width:160px; 
}

/** reely positions **/

.ry .relative {
  position: relative;
}

.ry .absolute {
  position: absolute;
}

.ry .fixed {
  position: fixed;
}


/** reely positioning common tasks **/

.ry .pos-abs_center {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ry .pos-top_left {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ry .pos-top_right {
  top: 0;
  left: auto;
  right: 0;
  bottom: auto;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ry .pos-top_center {
  top: 0;
  left: 50%;
  right: auto;
  bottom: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ry .pos-bot_left {
  top: auto;
  left: 0;
  right: auto;
  bottom: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ry .pos-bot_right {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ry .pos-bot_center {
  top: auto;
  left: 50%;
  right: auto;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ry .pos-left_center {
  top: 50%;
  left: 0;
  right: auto;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ry .pos-right_center {
  top: 50%;
  left: auto;
  right: 0;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


/** Overflows **/

.ry .of-hidden {
  overflow: hidden;
}

.ry .of-hidden_x {
  overflow-x: hidden;
}

.ry .of-hidden_y {
  overflow-y: hidden;
}


/** margins **/

/* center */
.ry .m-abs_center {
  margin-left: auto;
  margin-right: auto;
}

/* all */
.ry .m-1 {
  margin: 10px;
}

.ry .m-2 {
  margin: 20px;
}

.ry .m-3 {
  margin: 30px;
}

.ry .m-4 {
  margin: 40px;
}

.ry .m-5 {
  margin: 50px;
}

.ry .m-6 {
  margin: 60px;
}

.ry .m-7 {
  margin: 70px;
}

.ry .m-8 {
  margin: 80px;
}

.ry .m-9 {
  margin: 90px;
}

/* top */
.ry .m-t_1 {
  margin-top: 10px;
}

.ry .m-t_2 {
  margin-top: 20px;
}

.ry .m-t_3 {
  margin-top: 30px;
}

.ry .m-t_4 {
  margin-top: 40px;
}

.ry .m-t_5 {
  margin-top: 50px;
}

.ry .m-t_6 {
  margin-top: 60px;
}

.ry .m-t_7 {
  margin-top: 70px;
}

.ry .m-t_8 {
  margin-top: 80px;
}

.ry .m-t_9 {
  margin-top: 90px;
}

/* bottom */
.ry .m-b_1 {
  margin-bottom: 10px;
}

.ry .m-b_2 {
  margin-bottom: 20px;
}

.ry .m-b_3 {
  margin-bottom: 30px;
}

.ry .m-b_4 {
  margin-bottom: 40px;
}

.ry .m-b_5 {
  margin-bottom: 50px;
}

.ry .m-b_6 {
  margin-bottom: 60px;
}

.ry .m-b_7 {
  margin-bottom: 70px;
}

.ry .m-b_8 {
  margin-bottom: 80px;
}

.ry .m-b_9 {
  margin-bottom: 0;
}

/* top & bottom */
.ry .m-tb_1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ry .m-tb_2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ry .m-tb_3 {
  margin-top: 8px;
  margin-bottom: 18px;
}

.ry .m-tb_4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ry .m-tb_5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ry .m-tb_6 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.ry .m-tb_7 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.ry .m-tb_8 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.ry .m-tb_9 {
  margin-top: 90px;
  margin-bottom: 90px;
}

/* left */
.ry .m-l_1 {
  margin-left: 10px;
}

.ry .m-l_2 {
  margin-left: 20px;
}

.ry .m-l_3 {
  margin-left: 30px;
}

.ry .m-l_4 {
  margin-left: 40px;
}

.ry .m-l_5 {
  margin-left: 50px;
}

.ry .m-l_6 {
  margin-left: 60px;
}

.ry .m-l_7 {
  margin-left: 70px;
}

.ry .m-l_8 {
  margin-left: 80px;
}

.ry .m-l_9 {
  margin-left: 90px;
}

/* right */
.ry .m-r_1 {
  margin-right: 10px;
}

.ry .m-r_2 {
  margin-right: 20px;
}

.ry .m-r_3 {
  margin-right: 30px;
}

.ry .m-r_4 {
  margin-right: 40px;
}

.ry .m-r_5 {
  margin-right: 50px;
}

.ry .m-r_6 {
  margin-right: 60px;
}

.ry .m-r_7 {
  margin-right: 70px;
}

.ry .m-r_8 {
  margin-right: 80px;
}

.ry .m-r_9 {
  margin-right: 90px;
}

/* top & bottom */
.ry .m-lr_1 {
  margin-left: 10px;
  margin-right: 10px;
}

.ry .m-lr_2 {
  margin-left: 20px;
  margin-right: 20px;
}

.ry .m-lr_3 {
  margin-left: 30px;
  margin-right: 30px;
}

.ry .m-lr_4 {
  margin-left: 40px;
  margin-right: 40px;
}

.ry .m-lr_5 {
  margin-left: 50px;
  margin-right: 50px;
}

.ry .m-lr_6 {
  margin-left: 60px;
  margin-right: 60px;
}

.ry .m-lr_7 {
  margin-left: 70px;
  margin-right: 70px;
}

.ry .m-lr_8 {
  margin-left: 80px;
  margin-right: 80px;
}

.ry .m-lr_9 {
  margin-left: 90px;
  margin-right: 90px;
}

/** paddings **/
/* all */
.ry [class*="p-"] {
  box-sizing: border-box;
}

.ry .p-1 {
  padding: 10px;
}

.ry .p-2 {
  padding: 20px;
}

.ry .p-3 {
  padding: 30px;
}

.ry .p-4 {
  padding: 40px;
}

.ry .p-5 {
  padding: 50px;
}

.ry .p-6 {
  padding: 60px;
}

.ry .p-7 {
  padding: 70px;
}

.ry .p-8 {
  padding: 80px;
}

.ry .p-9 {
  padding: 90px;
}

/* top */
.ry .p-t_1 {
  padding-top: 10px;
}

.ry .p-t_2 {
  padding-top: 20px;
}

.ry .p-t_3 {
  padding-top: 30px;
}

.ry .p-t_4 {
  padding-top: 40px;
}

.ry .p-t_5 {
  padding-top: 0px;
}

.ry .p-t_6 {
  padding-top: 60px;
}

.ry .p-t_7 {
  padding-top: 70px;
}

.ry .p-t_8 {
  padding-top: 80px;
}

.ry .p-t_9 {
  padding-top: 90px;
}

/* bottom */
.ry .p-b_1 {
  padding-bottom: 10px;
}

.ry .p-b_2 {
  padding-bottom: 20px;
}

.ry .p-b_3 {
  padding-bottom: 0;
}

.ry .p-b_4 {
  padding-bottom: 40px;
}

.ry .p-b_5 {
  padding-bottom: 50px;
}

.ry .p-b_6 {
  padding-bottom: 60px;
}

.ry .p-b_7 {
  padding-bottom: 70px;
}

.ry .p-b_8 {
  padding-bottom: 80px;
}

.ry .p-b_9 {
  padding-bottom: 90px;
}

/* top & bottom */
.ry .p-tb_1 {
  padding-top: 30px;
  padding-bottom: 60px;
}

.ry .p-tb_2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ry .p-tb_3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ry .p-tb_4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ry .p-tb_5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ry .p-tb_6 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.ry .p-tb_7 {
  padding-top: 40px;
  padding-bottom: 70px;
}

.ry .p-tb_8 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.ry .p-tb_9 {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* left */
.ry .p-l_1 {
  padding-left: 10px;
}

.ry .p-l_2 {
  padding-left: 20px;
}

.ry .p-l_3 {
  padding-left: 30px;
}

.ry .p-l_4 {
  padding-left: 40px;
}

.ry .p-l_5 {
  padding-left: 50px;
}

.ry .p-l_6 {
  padding-left: 60px;
}

.ry .p-l_7 {
  padding-left: 70px;
}

.ry .p-l_8 {
  padding-left: 80px;
}

.ry .p-l_9 {
  padding-left: 90px;
}

/* right */
.ry .p-r_1 {
  padding-right: 10px;
}

.ry .p-r_2 {
  padding-right: 20px;
}

.ry .p-r_3 {
  padding-right: 30px;
}

.ry .p-r_4 {
  padding-right: 40px;
}

.ry .p-r_5 {
  padding-right: 50px;
}

.ry .p-r_6 {
  padding-right: 60px;
}

.ry .p-r_7 {
  padding-right: 70px;
}

.ry .p-r_8 {
  padding-right: 80px;
}

.ry .p-r_9 {
  padding-right: 90px;
}

/* top & bottom */
.ry .p-lr_1 {
  padding-left: 10px;
  padding-right: 10px;
}

.ry .p-lr_2 {
  padding-left: 20px;
  padding-right: 20px;
}

.ry .p-lr_3 {
  padding-left: 30px;
  padding-right: 30px;
}

.ry .p-lr_4 {
  padding-left: 40px;
  padding-right: 40px;
}

.ry .p-lr_5 {
  padding-left: 50px;
  padding-right: 50px;
}

.ry .p-lr_6 {
  padding-left: 60px;
  padding-right: 60px;
}

.ry .p-lr_7 {
  padding-left: 70px;
  padding-right: 70px;
}

.ry .p-lr_8 {
  padding-left: 80px;
  padding-right: 80px;
}

.ry .p-lr_9 {
  padding-left: 90px;
  padding-right: 90px;
}

/** Typography **/

.ry h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

.ry h1 strong,
.ry h2 strong,
.ry h3 strong,
.ry h4 strong,
.ry h5 strong,
.ry h6 strong {
  font-weight: 700;
}

.ry .cnt h2 {
  font-size: 3.0em;
  font-weight: 700;
}

.ry .bnr p {
  font-size: 2.4em;
  color: #000;
  line-height: 34px;
  font-weight: 400;
}

.ry .bnr p span {
  font-weight: 600;
}


.ry .cnt p {
  font-size: 16px;
    line-height: 1.63;
  font-weight: 400;
  margin: 20px 0 0 0;
}


