/* -- author:      Jonathan Sumner
    - email:       jonathan@khaoticdigital.com
    - description: a css framework for developing hubspot custom
                   modules. flexbox, positioning, basic typography
  -- */

/******************************************/
/*                  Fonts                 */
/******************************************/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
/* font-family: 'Source Sans Pro', sans-serif; */

/******************************************/
/*              Global Styles             */
/******************************************/

a {
  text-decoration: none;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

html {
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

@media (max-width: 1245px) {
  html,
  body {
    font-size: 9.5px;
  }
}

@media (max-width: 850px) {
  html,
  body {
    font-size: 9px;
  }
}

@media (max-width: 650px) {
  html,
  body {
    font-size: 8.5px;
  }
}

/* Content Centering Control */
.page_center {
  width: 96% !important;
  margin: 0 auto;
  float: none !important;
  margin-left: auto !important;
}

.page_center.lg {
  max-width: 1340px;
}

.page_center.md {
  max-width: 1040px;
}

.page_center.sm {
  max-width: 820px;
}

.page_center.xs {
  max-width: 480px;
}

/* Positions */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/* split sections */
.split-50_left {
  margin: 0 3% 0 0 !important;
}

.split-50_right {
  margin: 0 0 0 3% !important;
}

.split-50_left,
.split-50_right {
  width: 47% !important;
}

@media (max-width: 768px) {
  .split-50_left {
    margin: 0 0 0 0 !important;
  }

  .split-50_right {
    margin: 0 0 0 0 !important;
  }

  .split-50_left,
  .split-50_right {
    width: 100% !important;
  }
}

/* Absolute Position Quick Center */
.ab-top_50 {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ab-left_50 {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ab-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Overflows */
.of-hidden {
  overflow: hidden;
}

.of-hidden_x {
  overflow-x: hidden;
}

.of-hidden_y {
  overflow-y: hidden;
}

/* Flexbox Controls */
.flexy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Flexbox: Layout Controls */
.fl-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fl-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Mobile Row to Column */
@media (max-width: 840px) {
  .fl-mob_col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* Flexbox: flex-wrap */
.fl-wrap_wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fl-wrap_wrap-r {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

/* Flexbox: Align-Items (horizontal) Controls */
.fl-hz_left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.fl-hz_center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fl-hz_right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.fl-hz_between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fl-hz_around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* Flexbox: Justify-Content (vertical) Controls */
.fl-vt_top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
}

.fl-vt_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.fl-vt_bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

.fl-vt_stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
}

/* Flexbox: Align-Self (flexed item) Controls */
.fl-item_bottom {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.fl-item_left {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.fl-item_right {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.fl-item_center {
  -ms-flex-item-align: center;
  align-self: center;
}

/* Flexbox item Spacing 1-10 */
.fl-01 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.fl-02 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.fl-03 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.fl-04 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.fl-05 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.fl-06 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

.fl-07 {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
}

.fl-08 {
  -webkit-box-flex: 8;
  -ms-flex: 8;
  flex: 8;
}

.fl-09 {
  -webkit-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
}

.fl-10 {
  -webkit-box-flex: 10;
  -ms-flex: 10;
  flex: 10;
}

/******************************************/
/*                Typography              */
/******************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 600;
}

h1 {
  font-size: 72px;
  font-size: 4.5rem;
}

h2 {
  font-size: 56px;
  font-size: 3.5rem;
}

h3 {
  font-size: 40px;
  font-size: 2.5rem;
}

h4 {
  font-size: 32px;
  font-size: 2rem;
}

h5 {
  font-size: 28.8px;
  font-size: 1.8rem;
}

h6 {
  font-size: 25.6px;
  font-size: 1.6rem;
}

p,
li {
  font-size: 28.8px;
  font-size: 1.8rem;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0.32px;
  letter-spacing: 0.02rem;
}
